* {
  font-family: "Barlow Semi Condensed";
}

@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf");
  font-weight: 500, 600;
  font-style: normal;
}

body {
  background-color: hsl(214, 17%, 92%);
  margin: 0 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 20px;
}

.comment-1 {
  background-color: hsl(263, 55%, 52%);
  position: relative;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.comment-1 > div > img {
  border: 2px solid hsl(264, 82%, 80%);
}

.comment-2 {
  background-color: hsl(217, 19%, 35%);
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.comment-3 {
  background-color: hsl(0, 0%, 100%);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.comment-4 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.comment-4 img {
  border: 2px solid hsl(263, 55%, 52%);
}

.comment-5 {
  background-color: hsl(0, 0%, 100%);
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

article {
  border-radius: 12px;
  box-shadow: 30px 30px 30px hsl(0, 0%, 81%);
  padding: 30px;
  box-sizing: border-box;
  z-index: 3;
}

article > div:first-child {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

article img:first-of-type:not(.quote-bcg-decoration) {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-1,
.user-2 {
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.user-4 {
  color: hsl(0, 0%, 81%);
}

.user-3,
.user-5 {
  color: hsl(217, 19%, 35%);
  font-weight: 600;
  margin: 0;
}

.user-rank-1,
.user-rank-2 {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
}

.user-rank-4 {
  color: hsl(0, 0%, 81%);
}

.user-rank-3,
.user-rank-5 {
  color: hsl(217, 19%, 35%);
  font-size: 14px;
  font-weight: 600;
}

.user-comment-1 > p:first-child,
.user-comment-2 > p:first-child {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0;
  color: hsl(0, 0%, 100%);
}

.user-comment-1 > p:last-child,
.user-comment-2 > p:last-child {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: hsl(0, 0%, 100%);
}

.user-comment-4 > p:first-child {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0;
  color: hsl(0, 0%, 81%);
}

.user-comment-4 > p:last-child {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: hsl(0, 0%, 81%);
}

.user-comment-3 > p:first-child,
.user-comment-5 > p:first-child {
  font-size: 30px;
  font-weight: 600;
  margin: 15px 0;
  color: hsl(217, 19%, 35%);
}

.user-comment-3 > p:last-child,
.user-comment-5 > p:last-child {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  color: hsl(217, 19%, 35%);
}

.quote-bcg-decoration {
  position: absolute;
  top: 0%;
  right: 12%;
  width: 125px;
  z-index: 1;
}

.comment-1 .user-container-1,
.comment-1 .user-comment-1 {
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 20px;
    display: block;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    width: 100%;
  }

  .comment-1,
  .comment-2,
  .comment-3,
  .comment-4,
  .comment-5 {
    grid-column: 1 / 2;  
    grid-row: auto;
  }

  .quote-bcg-decoration {
    display: none;
  }
}
